@use './functions' as *;
@use './variables' as *;
@use './colors' as *;


@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    gap: px_to_rem(40px);
}

@mixin text-section($justify: flex-start) {
    height: 100vh;
    width: 100%;

    &__wrapper {
        display: flex;
        justify-content: $justify;
        align-items: flex-start;
        gap: px_to_rem(120px);
        margin: px_to_rem(260px) auto;
        padding: 0 px_to_rem(24px);
        max-width: px_to_rem(1000px);

        &--left {
            &-main {
                margin: 0;
                color: $gray-500;
                font-family: $roboto;
                font-weight: 500;
                font-size: px_to_rem(18px);
            }
        }

        &--right {
            &-main {
                margin: 0;
                color: $gray-100;
                font-family: $roboto;
                font-size: px_to_rem(18px);
                line-height: 1.8;
                max-width: px_to_rem(420px);
            }
        }
    }
}

@mixin stack-gallery($block) {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0;
    overflow: hidden;

    &__wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        flex: none;

        display: grid;
        grid-template-columns: repeat(6, 1fr);
        align-items: center;
        justify-content: start;
        gap: px_to_rem(32px);
        padding: px_to_rem(32px);

        &--switch {
            .#{$block}__wrapper--item {
                grid-area: 1 / 1 / 2 / 2;

                &:nth-child(2) {
                    margin-left: px_to_rem(16px);
                    filter: brightness(0.8);
                }

                &:nth-child(3) {
                    margin-left: px_to_rem(32px);
                    filter: brightness(0.7);
                }

                &:nth-child(4) {
                    margin-left: px_to_rem(48px);
                    filter: brightness(0.6);
                }

                &:nth-child(5) {
                    margin-left: px_to_rem(64px);
                    filter: brightness(0.5);
                }

                &:nth-child(6) {
                    margin-left: px_to_rem(80px);
                    filter: brightness(0.4);
                }
            }

            .#{$block}__wrapper--item-caption {
                left: 0;
                opacity: 1;

                @media screen and (min-width: 768px) {
                    left: px_to_rem(576px);
                }
            }
        }

        &--item {
            flex: none;
            border-radius: px_to_rem(24px);
            width: px_to_rem(360px);
            height: px_to_rem(504px);
            z-index: 1;
            position: relative;
            filter: brightness(1);
            overflow: hidden;

            &:nth-child(5) {
                z-index: 2;
            }

            &:nth-child(4) {
                z-index: 3;
            }

            &:nth-child(3) {
                z-index: 4;
            }

            &:nth-child(2) {
                z-index: 5;
            }

            &:nth-child(1) {
                z-index: 6;
            }

            &-main {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }
        }

        &--item-caption {
            position: absolute;
            bottom: 0;
            left: 100vw;
            width: 100vw;
            padding: px_to_rem(72px);
            color: $gray-100;
            opacity: 0;
            z-index: 0;
            font-family: $roboto;

            &-main {
                margin: 0;
                font-size: px_to_rem(32px);
            }

            @media screen and (min-width: 768px) {
                bottom: 40%;
                width: px_to_rem(864px);
                max-width: px_to_rem(800px);
            }
        }
    }
}