@use '../abstracts/functions' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/colors' as *;
@use '../abstracts/media-queries' as *;
@use '../abstracts/mixins' as *;

.cards {
    width: 100%;
    height: 100vh;
    background-color: $black;
    @include center;
    overflow: hidden;
    position: relative;

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(7, auto);
        gap: px_to_rem(30px);
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: px_to_rem(1800px);

        &--item {
            object-fit: cover;
            border-radius: px_to_rem(15px);

            &:nth-child(1),
            &:nth-child(7) {
                width: px_to_rem(97px);
                height: px_to_rem(146px);
            }


            &:nth-child(2),
            &:nth-child(6) {
                width: px_to_rem(121px);
                height: px_to_rem(182px);
            }


            &:nth-child(3),
            &:nth-child(5) {
                width: px_to_rem(243px);
                height: px_to_rem(364px);
            }

            &:nth-child(4) {
                width: px_to_rem(364px);
                height: px_to_rem(547px);
            }
        }
    }

    &__text {
        position: absolute;
        font-family: $roboto;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        padding: clamp(2rem, 5vw, 4rem);
        z-index: 10;

        &--main {
            font-size: clamp(1.2rem, 2.5vw, 1.8rem);
            color: $white;
            width: 45%;
            max-width: px_to_rem(800px);
            line-height: 1.4;
            font-family: inherit;
        }
    }
}