@use '../abstracts/functions' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/colors' as *;
@use '../abstracts/media-queries' as *;
@use '../abstracts/mixins' as *;

.hero {
  &__wrapper {
    max-width: 1400px;
    margin: px_to_rem(101px) px_to_rem(260px);
    padding: px_to_rem(96px) px_to_rem(18px);
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    gap: px_to_rem(32px);
    align-items: start;

    &--project {
      grid-column: 1 / -1;
      display: flex;
      gap: px_to_rem(18px);
      align-items: center;
      margin-bottom: px_to_rem(24px);

      &-main {
        margin: 0;
        color: $gray;
        font-family: $roboto;
        font-weight: 500;
        letter-spacing: 0.08em;
        font-size: px_to_rem(18px);
      }

      &-content {
        margin: 0;
        color: $white;
        font-size: px_to_rem(18px);
        font-family: $roboto;
        font-weight: 700;
      }
    }

    &--creativity {
      grid-column: 1 / -1;
      display: flex;
      flex-direction: column;
      gap: px_to_rem(6px);
      margin: px_to_rem(32px) 0;

      &-main,
      &-content {
        margin: 0;
        color: $white;
        font-family: $roboto;
        font-weight: 400;
        line-height: 0.95;
      }

      &-main,
      &-content {
        font-size: px_to_rem(144px);
      }
    }

    &--mission {
      grid-column: 1 / -1;

      display: grid;
      grid-template-columns: px_to_rem(120px) 1fr 1fr;
      gap: px_to_rem(32px);
      margin-top: px_to_rem(24px);

      &-left {
        margin: 0;
        color: $white;
        font-family: $roboto;
        font-weight: 500;
        align-self: start;
      }

      &-mid,
      &-right {
        margin: 0;
        color: $gray;
        font-family: $roboto;
        font-size: px_to_rem(15px);
        line-height: 1.8;
        max-width: px_to_rem(420px);
      }
    }

    @media (max-width: 900px) {
      padding: px_to_rem(48px) px_to_rem(24px);
      grid-template-columns: 1fr;

      &--creativity {

        &-main,
        &-content {
          font-size: px_to_rem(56px);
        }
      }

      &--mission {
        grid-template-columns: 1fr;

        &-left {
          margin-bottom: px_to_rem(12px);
        }

        &-mid,
        &-right {
          max-width: none;
        }
      }
    }
  }
}