@use '../abstracts/functions' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/colors' as *;
@use '../abstracts/media-queries' as *;
@use '../abstracts/mixins' as *;

.lady {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: px_to_rem(400px) auto;
    overflow: hidden;

    &__wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        flex: none;
        display: grid;
        place-items: center;

        &--item {
            flex: none;
            border-radius: px_to_rem(6px);
            position: relative;
            filter: brightness(1) hue-rotate(90deg);
            width: 400%;
            height: 400%;
            overflow: hidden;

            &-main {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }
        }

        &--text {
            z-index: 101;
            color: $white;
            font-weight: 400;
            font-family: $roboto;

            position: absolute;
            width: 100vw;
            height: 100vh;
            top: 50%;
            left: 50%;
            margin: 100vh 0 0 -50vw;
            font-size: clamp(2rem, 5vw, 3rem);
            display: grid;
            place-items: center;

            &-main {
                margin: 0;
            }
        }

        &--switch {
            .lady__wrapper--item {
                width: 100%;
                height: 100%;
                filter: brightness(0.7) hue-rotate(0deg);
            }

            .lady__wrapper--text {
                margin-top: -50vh;
            }
        }
    }
}