@use '../abstracts/functions' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/colors' as *;
@use '../abstracts/media-queries' as *;
@use '../abstracts/mixins' as *;

.pigs {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: px_to_rem(400px) auto;
    overflow: hidden;

    &__wrapper {
        position: relative;
        height: min-content;
        flex: none;

        display: grid;
        grid-template-columns: repeat(10, 1fr);
        width: 300%;
        padding: 0 px_to_rem(20px);
        gap: px_to_rem(10px);

        &--item {
            position: relative;
            border-radius: px_to_rem(6px);
            aspect-ratio: 1;
            width: 100%;
            height: auto;
            filter: contrast(0.8) saturate(0) brightness(0.6) opacity(1);
            overflow: hidden;

            &-main {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }
        }

        &--text {
            position: absolute;
            width: 100vw;
            height: 100vh;
            left: 50%;
            top: 50%;
            margin: -50vh 0 0 -50vw;
            display: grid;
            place-items: center;
            opacity: 0;
            z-index: 101;
            color: $white;
            font-family: $roboto;
            font-weight: 400;

            &-main {
                margin: 0;
                font-size: px_to_rem(64px);
            }
        }

        &--switch {
            width: 100%;
            gap: px_to_rem(20px);

            .pigs__wrapper--item {
                filter: contrast(1) saturate(1) brightness(0.8) opacity(0.8);
            }

            .pigs__wrapper--text {
                opacity: 1;
            }
        }
    }
}