@use '../abstracts/functions' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/colors' as *;
@use '../abstracts/media-queries' as *;
@use '../abstracts/mixins' as *;

.scattered {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 40vh auto;
    overflow: hidden;

    &__wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: px_to_rem(40px);

        &--item {
            position: relative;
            border-radius: px_to_rem(5px);
            overflow: hidden;

            &-main {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }
        }

        &--item-caption {
            font-size: clamp(16px, 3vw, 32px);
            z-index: 101;
            color: $white;
            font-family: $roboto;
            font-weight: 400;
            position: absolute;
            width: 100vw;
            height: 100vh;
            top: 50%;
            left: 50%;
            margin: 100vh 0 0 -50vw;
            display: grid;
            place-items: center;
            font-size: clamp(16px, 8vw, 96px);
            opacity: 0;

            &-main {
                margin: 0;
            }
        }

        @media screen and (min-width: 768px) {
            grid-template-columns: repeat(10, 1fr);
            grid-template-rows: repeat(4, 1fr);

            &:not(.scattered__wrapper--switch) {
                .scattered__wrapper--item {
                    &:nth-child(1) {
                        grid-area: 1 / 1;
                    }

                    &:nth-child(2) {
                        grid-area: 1 / 2;
                    }

                    &:nth-child(3) {
                        grid-area: 1 / 4;
                    }

                    &:nth-child(4) {
                        grid-area: 1 / 5;
                    }

                    &:nth-child(5) {
                        grid-area: 3 / 6;
                    }

                    &:nth-child(6) {
                        grid-area: 1 / 7;
                    }

                    &:nth-child(7) {
                        grid-area: 1 / 9;
                    }

                    &:nth-child(8) {
                        grid-area: 3 / 10;
                    }

                    &:nth-child(9) {
                        grid-area: 2 / 8;
                    }

                    &:nth-child(10) {
                        grid-area: 4 / 9;
                    }

                    &:nth-child(11) {
                        grid-area: 3 / 8;
                    }

                    &:nth-child(12) {
                        grid-area: 2 / 2;
                    }

                    &:nth-child(13) {
                        grid-area: 3 / 1;
                    }

                    &:nth-child(14) {
                        grid-area: 3 / 4;
                    }

                    &:nth-child(15) {
                        grid-area: 4 / 5;
                    }

                    &:nth-child(16) {
                        grid-area: 4 / 2;
                    }
                }
            }
        }

        &--switch {
            grid-template-columns: 1fr 300px 1fr !important;
            grid-template-rows: 1fr 60vh 1fr !important;
            gap: 0 !important;

            .scattered__wrapper--item {
                grid-area: 2 / 2 / 3 / 3 !important;
            }

            .scattered__wrapper--item-caption {
                opacity: 1;
                margin-top: -50vh;
            }
        }
    }
}