@use '../abstracts/functions' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/colors' as *;
@use '../abstracts/media-queries' as *;
@use '../abstracts/mixins' as *;

.ethics {
    @include text-section;
}

.identity {
    @include text-section(flex-end);
}

.impact {
    @include text-section(center);
}

.authenticity {
    @include text-section(flex-end);
}

.harmony {
    @include text-section(center);
}

.move {
    @include text-section(flex-end);

    &__wrapper {
        margin-bottom: px_to_rem(100px);
    }

}

.credit {
    @include text-section(flex-start);

    &__wrapper {
        margin-top: px_to_rem(100px);
    }
}